<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>HoverSpace</title>
        {% endif %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link href="../../static/css/base.css" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div id="header" class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                  <a id="logo" class="navbar-brand" href="{{ url_for('home') }}"><img src="../../static/img/logo.png" align="centre"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="nav-elements" class="nav navbar-nav navbar-right">
                            <div class="col-sm-3 col-md-3">
                              <form id = "search" class="navbar-form" role="search" action="{{ url_for('home') }}" method="POST">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="srch_term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                    </div>
                            </form>
                            </div>
                            {% if current_user.is_authenticated %}
                            <li><a id = "profile_page" href="{{ url_for('profile', userID=current_user.get_id()) }}">{{ current_user.get_id() }}</a></li>
                            <li><a id = "post_ques" href="{{ url_for('postQuestion')}}">Post a Question</a></li>
                            <li><a id = "logout_url" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a id = "login_url" href="{{ url_for('login') }}">Login</a></li>
                            <li><a id = "signup_url" href="{{ url_for('signup') }}">SignUp</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
          </nav>
        		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <div class="container">
            {% include "flash.html" %}
            {% block content %}{% endblock %}
        	</div>

    </body>
</html>
