<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>HoverSpace</title>
        {% endif %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/css/custom.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/5e5d2ddae6.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div id="header" class="container">
                <div class="navbar-header">
                  <a id="logo" class="navbar-brand" href="{{ url_for('home') }}"><img src="../../static/img/logo.png" align="centre"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="nav-elements" class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a id = "post_ques" href="{{ url_for('postQuestion')}}">Post a Question</a></li>
                            <li><a id = "logout_url" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a id = "login_url" href="{{ url_for('login') }}">Login</a></li>
                            <li><a id = "signup_url" href="{{ url_for('signup') }}">SignUp</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
          </nav>
        						<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="../../static/js/jquery-3.1.1.min.js"></script>
    			<!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="../../static/js/bootstrap.min.js"></script>
          <div class="container">
            {% include "flash.html" %}
            {% block content %}{% endblock %}
        	</div>

    </body>
</html>
