{% extends "base.html"%}
{% block content %}
    <div class = "container">
      <div class="jumbotron">

      {% for i in feed %}
        <div class = "form-group">
          <label class = "control-label" for = "short_description">
            <label for = "short_description">Short Description : {{ i['short_description'] }}</label>
          </label>
          <br>
          <label class = "control-label" for = "long_description">
            <label for = "short_description">Long Description : {{ i['long_description'] }}</label>
          </label>
          <br>
          <label class = "control-label" for = "answer">
            <label for = "asn_text"> Answer: {{ i['answer'] }}</label>
        </label>
      {% endfor %}
      </div>
    </div>
  {% endblock %}
