{% extends "base.html" %}
{% block content %}

  <div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" action="" method="POST" role="form">
          <div id="legend">
            <legend class="">Log In</legend>
          </div>
          {{ form.hidden_tag() }}
          {% for field in form if field.widget.input_type != 'hidden' %}
          <div class="control-group">
            <label class="control-label" for="{{ field.name }}" > {{ field.label }}</label>
            <div class="control">
              {{ field(class_="form-control input-md") }}
            </div>
          </div>
          {% endfor %}
          <div class="control-group">
            <button type="submit" id="login_btn" class="btn btn-default">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
