{% extends "base.html"%}
{% block content %}
  
  <div id="ques_head" class="container">
        <img id="ques_link_avatar" src="/static/img/avatar.png">
        <label id="short" for="short_description">{{ question['short_description'] }}</label>
        <br>
        <label id="long" for="long_description">Long Description : {{ question['long_description'] }}</label>
        <br>
        <label id="ques_posted_by">{{ question['postedBy'] }}</label>
        <br>
        <div class="vote-buttons">
          <input type="button" class="vote-up" value="Upvote">
          <input type="button" class="vote-down" value="Downvote">
          <span class="vote-count" name="vote-count" id="vote-count">AAAA</span>
        </div>
        <div class="bookmark-button">
          <input type="button" class="bookmark" value="Bookmark">
        </div>
        <script type="text/javascript" src="../../static/js/custom.js"></script>
        <script type="text/javascript">
          var quesID = "{{ question['_id'] }}";
          var type = new String("");
          $('.vote-up').on('click', function(){
            updateVotes(quesID, type="up");
          });

          $('.vote-down').on('click', function(){
            updateVotes(quesID, type="down");
          });

          $('.bookmark').on('click', function(){
            setBookmark(quesID);
          });
        </script>

  </div>
  <br>  
  {% for answer in answers %}
    <div id = "Ques_ans_div" class = "container">
      <br><br>
      <img id = "answer_avatar" src="/static/img/avatar.png">
      <label id = "answer_label" for = "answer">{{ answer['ansText'] }}</label>
      <br>
      <label id = "posted_label" for="postedby"> {{ answer['postedBy'] }}</label>
      <br><br>    
    </div>
    <br>
  {% endfor %}
  <br>
  <form action="" method="POST" name="question">
    <div class = "form-group">
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="control-group">
          <label class="control-label" for="{{ field.name }}" > {{ field.label }}</label>
          <div class="control">
            {{ field(class_="form-control input-md") }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="control-group">
      <button type="Submit" id="submit_btn" class="btn btn-default">Submit</button>
    </div>
  </form>
  <!--</div> 
    </div>
-->
  {% endblock %}
