{% extends "base.html"%}
{% block content %}
  <div id = "ques_head" class="container">
        <img id = "ques_link_avatar" src="/static/img/avatar.png">
        <label id = "short" for="short_description">{{ question['short_description'] }}</label>
        <br>
        <label id ="long" for="long_description">Long Description : {{ question['long_description'] }}</label>
        <br>
        <br>
  </div>
  <br>  
  {% for answer in answers %}
    <div id = "Ques_ans_div" class = "container">
          <br>
          <br>
          <img id = "answer_avatar" src="/static/img/avatar.png">
            <label id = "answer_label" for = "answer">{{ answer['ansText'] }}</label>
            <br>
            <label id = "posted_label" for="postedby"> {{ answer['postedBy'] }}</label>
            <br>
            <br>    
            </div>
            <br>
          {% endfor %}
          <br>
                <form action="" method="POST" name="question">
          <div class = "form-group">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
              <div class="control-group">
                <label class="control-label" for="{{ field.name }}" > {{ field.label }}</label>
                <div class="control">
                  {{ field(class_="form-control input-md") }}
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="control-group">
            <button type="Submit" id="submit_btn" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div> 
    </div>

  {% endblock %}
