{% extends "base.html"%}
{% block content %}
<link rel="stylesheet" type="text/css" href="../../static/css/search.css">
<div class = "row">
<hr/>
<h4 id = "result_head" >Results are : </h4>
<hr/>
{% for q in result %}
	<div id = "search_col" class = "col-md-8 col-md-offset-3">
  		<a href="{{ url_for('viewQuestion', quesID=q['_id']) }}">{{ q['short_description'] }}</a>
  		<br>
  		<h5 id="postedBy">Posted By: 
  			<a href="{{ url_for('profile', userID=q['postedBy']) }}">{{ q['postedBy'] }}</a>
  		</h5>
  		<h5 id="timestamp">Posted On: {{ q['timestamp'].strftime('%Y-%m-%d') }}</h5>
  		<hr/>
  	</div>
{% endfor %}
</div>
{% endblock %}
