body{
	background: url(/static/img/back.jpg);
	font-size: 2;
	padding-top: 100px;
	padding-bottom: 20px;
	background-color:#ffffff
	background-image:url("static/img/back.jpg");
	background-size: cover;
}
#footer{
	max-height: 2px;
	margin-top: 300px;
	min-height: 30px;
	text-align: center;
	padding-bottom: 40px;
	height: 10px;
}
#image{
	margin-top: 2px;	
	max-width: 70px;
	max-height: 60px;
	margin-right: 10px;
}
#header{

	margin-bottom: 1px;
	background color: #ffffff;
}
#logo{
	padding-bottom: 20px;
	text-align: center;
	margin-top: 1px;
	margin-bottom: -4px;
	margin-left: -70px;
}
#nav-elements{
	margin-right: -100px;
}
#nav{
	background color: #7A77BA
}
#srch-term{
	margin-top: 10px;
	margin-right: 200px;
	margin-left: -100px
}
#search-button{
	margin-top: 10px;

}
#short_description{
	height: 100px;
}
#long_description{
	height: 180px;
}
#submit_btn{
	margin-top: 10px;
	background-color: #7A77BA
}
#cancel_btn{
	margin-top: 10px;
	background-color: #7A77BA;
	margin-left: 10px;
}
.btn{
	color: #ffffff
}
#login_btn{
	padding-bottom: -100px;
	text-align: center;
	height: 20px;
	
	background-color: #6bc1ff;
	
	box-sizing:border-box;
	color: #ffffff
	position:absolute;
}
#email{
	margin-top: 10px;
	display: inline-block;
	margin-right: 10px;
}
#pass{
	margin-top: 10px;
	display: inline-block;
	margin-left: 10px;
}
#wrapper{
	background-image: url(img/back.jpg);
}
#username{
	padding-left: -100px;
	padding-right: -100px;
}
#signup_btn{
	margin-top: 15px;
	background-color: #7A77BA
	position:absolute;
	right :60px;
	margin-right: 60px;
	margin-left: 40px;
	padding: 10px 20px 10px 20px;
}
#post_ques_btn{
	padding-bottom: -100px;
	margin-left: 20px;
	height: 20px;
	margin-top: 10px;
	background-color: #7A77BA;
	line-height: 3px;
	box-sizing:border-box;
	color: #ffffff
}
#signup_btn, #login_btn{
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #7A77BA;
	line-height: 0px;
	box-sizing:border-box;
	color: #ffffff
}
#login_url:link, #login_url:visited {
    background-color: #6bc1ff;
    color: white;
    padding: 14px 25px 0px -4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#login_url:hover, #login_url:active {
    background-color: #87cdff;
}
#signup_url:link, #signup_url:visited {
    background-color: #6bc1ff;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 25px;
}
#signup_url:hover, #signup_url:active {
    background-color: #87cdff;
}
#text_clr{	
}
#login_form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #ffffff;
}
#post_ques:link, #post_ques:visited {
    background-color: #6bc1ff;
    color: white;
    padding: 14px 25px 0px -4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#post_ques:hover, #post_ques:active {
    background-color: #87cdff;
}
#logout_url:link, #logout_url:visited {
    background-color: #6bc1ff;
    color: white;
    padding: 14px 25px 0px -4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 25px;
    margin-left: 5px;
}
#logout_url:hover, #logout_url:active {
    background-color: #87cdff;
}
#signup_form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #ffffff;
}
#login_btn{
    background-color: #6bc1ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#signup_btn{
    background-color: #6bc1ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
   	cursor: pointer;
}
#post_cont{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: #ffffff;
}
#submit_btn{
	background-color: #6bc1ff;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#feed_div{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: #ffffff;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
#vote_div{
	width: 100px;
	float: left;
	height: 50%;
	margin-left: -100px;
}
#bookmark-this {
  padding: 5px 10px;
  font-size: 12px;
  background: #f0ad4e;
  color: #fff;
  border: 1px solid #eea236;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#bookmark-this:hover {
  background: #ec971f;
  border: 1px solid #d58512;
  text-decoration: none;
}

#bookmark-this:active {
  border: 1px solid #d58512;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  background: #ec971f;
}
#answers {
  padding: 5px 10px;
  font-size: 12px;
  background: #59ff59;
  color: #fff;
  border: 1px solid #00cd00;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  margin-left:110px;
}

#answers:hover {
  background: #0aff0a;
  border: 1px solid #00cd00;
  text-decoration: none;
}

#answers:active {
  border: 1px solid #00cd00;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  background: #0aff0a;
}
#ques_url:link{
	margin-left: 15px;
	color: #7a7a7a;
	position: absolute;
}
#ques_url:hover{
	margin-left: 15px;
	color: #333333;
}
#ques_url:active{	
	margin-left: 15px;
	color: #0a0a0a;
	pointer:cursor;
}
#Ques_ans_div{
	background:#ffffff;
		width: 1000px;
		margin-left:80px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;	
}
#avatar{
	margin-top: 20px;
	margin-bottom: -30px;
	line-height: 70%;
	width: 8%;
}
#ques_head{
	background-color: #ffffff;
	width: 1320px;
	margin-left: -100px;
}
#short{
	padding-left: 72px;
}
#long{
	left: 50px;
	padding-left: 200px;
	width: 420px;
}
#ques_link_avatar{
	margin-top: 20px;
	width: 8%;
	border-radius: 200px;
	margin-left: 20px;
}
#postedby{
	margin-top: -50px;
}
#answer_label{
	margin-left: 200px;
}
#answer_avatar{
	width: 8%;
	border-radius: 100px;
	padding-left: 50px;
}
#posted_label{
	margin-left: 40px;
	padding-top: 10px;
}
#ques_posted_by{
	margin-left: 40px;	
}
#ans_text{
	height: 100px;
}