#result_head{
	position: relative;
	left: 300px;
}
#postedBy{
	position: relative;
	left: 250px;
}
#timestamp{
	position: relative;
	left: 420px;
	bottom: 25px;
}
#hor_line{
	position: relative;
	right: 20px;
}