body{
	background-image: url("../../static/img/back.jpg");
}
#signup_form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #ffffff;
}
#signup_btn{	
}
#signup_btn:hover{
	background :#0fffff;
	color: white;
}
